body{
  background-image: url("img/back1.jpg");
  background-size: cover;
}
nav.nav-center ul {
    text-align: center;
}
nav.nav-center ul li {
    display: inline;
    float: none;
}
nav.nav-center ul li a {
    display: inline-block;
}

#contact a img{
  display:inline-block;
  width: 50px;
  padding-left: 10px;
  padding-right: 10px;
}

#contact{
  margin-left: 40%;
  margin-right: 40%;
}
img{
  transition: transform .25s ease .1s;
}
img:hover{
  transform: scale(1.5,1.5);
}
/*.card.hoverable{
  overflow: hidden;
  position: relative;
  transform-style: preserve-3d;
  color: white;
}

.card-caption{
    display: block;
    text-align: center;
    position: absolute;

    font-size: 1rem;
    top: 50%;
      transition: top .25s .1s, transform .25s ease .1s;

}
.card-panel-content {
  opacity: 0;
  transform: translateY(20px);
}
.card-action{
  opacity: 0;
}
.card-title{
    display: block;
    text-align: center;
    font-size: 1rem;
}
.card:hover .card-panel-content{
  opacity: 1;
}
*/
