body{
  background-image: url("img/back.jpg");
}
nav.nav-center ul {
    text-align: center;
}
nav.nav-center ul li {
    display: inline;
    float: none;
}
nav.nav-center ul li a {
    display: inline-block;
}

#contact a img{
  display:inline-block;
  width: 50px;
  padding-left: 15px;
}
